# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
.Trashes
Thumbs.db

# Database
*.db
*.sqlite3
instance/

# Logs
*.log

# Uploads (if any)
static/payment_proofs/
static/images/dummy_image_*
static/images/hero_uploads/
.env

# Python cache files
__pycache__/
*.pyc

